// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-list{
  display: grid;
  align-items: center ;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 24px;
}
.card-info{
  display: flex;
  align-items: baseline ;
  justify-content: space-evenly;
}
